body{
    margin:0;
    font-family:Arial;
    background:#f5f5f5;
}

header{
    background:linear-gradient(to right,#1e3c72,#2a5298);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:#2a5298;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:50px 20px;
    text-align:center;
}

.projects{
    background:white;
}

.card{
    background:#f0f0f0;
    margin:20px auto;
    padding:20px;
    width:80%;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.stats div{
    background:#2a5298;
    color:white;
    padding:20px;
    border-radius:10px;
}

.cta{
    background:#1e3c72;
    color:white;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    background:white;
    color:#1e3c72;
    font-weight:bold;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
}